<h1 class="text-center mt-4 mb-3">Sucursales</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Responsable</th>
        <th scope="col">Cargo</th>
        <th colspan="3">Acciones</th>
      </tr>
    </thead>
      <tbody>
      <% @offices.each do |office| %>
        <tr class="text-center">
          <td><%= office.name %></td>
          <td><%= office.direction %></td>
          <td><%= office.phone %></td>
          <td><%= office.city %></td>
          <td><%= office.manager %></td>
          <td><%= office.position %></td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <td><%= link_to 'Mostar', office, class: 'btn btn-primary' %></td>
            <td><%= link_to 'Editar', edit_office_path(office), class: 'btn btn-success' %></td>
            <td><%= link_to 'Eliminar', office, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-right mt-5">
  <%= link_to 'Nueva sucursal', new_office_path, class: 'btn btn-primary' %>
</div>
