<p id="notice"><%= notice %></p>

<h1>Method Types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Macroscopy</th>
      <th>Diagnosis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @method_types.each do |method_type| %>
      <tr>
        <td><%= method_type.description %></td>
        <td><%= method_type.macroscopy %></td>
        <td><%= method_type.diagnosis %></td>
        <td><%= link_to 'Show', method_type %></td>
        <td><%= link_to 'Edit', edit_method_type_path(method_type) %></td>
        <td><%= link_to 'Destroy', method_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Method Type', new_method_type_path %>
