<p id="notice"><%= notice %></p>

<h1>Tabulators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabulators.each do |tabulator| %>
      <tr>
        <td><%= tabulator.name %></td>
        <td><%= link_to 'Show', tabulator %></td>
        <td><%= link_to 'Edit', edit_tabulator_path(tabulator) %></td>
        <td><%= link_to 'Destroy', tabulator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tabulator', new_tabulator_path %>
