<p id="notice"><%= notice %></p>

<h1>Organs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organs.each do |organ| %>
      <tr>
        <td><%= link_to 'Show', organ %></td>
        <td><%= link_to 'Edit', edit_organ_path(organ) %></td>
        <td><%= link_to 'Destroy', organ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organ', new_organ_path %>
