<p id="notice"><%= notice %></p>

<h1>Servicetypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicetypes.each do |servicetype| %>
      <tr>
        <td><%= servicetype.name %></td>
        <td><%= link_to 'Show', servicetype %></td>
        <td><%= link_to 'Edit', edit_servicetype_path(servicetype) %></td>
        <td><%= link_to 'Destroy', servicetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servicetype', new_servicetype_path %>
